@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&family=Montserrat:wght@300;400;800&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100;200&family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: inherit;
    color: inherit;
}
.app{
    height: 98.55vh;
    border: 8px solid #39444a93;
    margin: 5px;
    padding: 5px;
}

*::-webkit-scrollbar{
    width: 8px;
    background-color: gray;
}